# Default ignored files
/shelf/
/workspace.xml
/.idea/
/inspectionProfiles/
../masterCode/
../config_kamailio/webrtc/sandbox
../config_kamilio/logrotate/kamailio
../config_kamilio/kamailio_routing.cfg
